<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
    <h1>Edit Your Fox</h1>
    <form action="/{{current_fox.id}}/update" method='POST'>
        {% csrf_token %}
            
            <label for="foxname"><b>Fox Name</b></label>
            <input type="text" value="{{current_fox.foxname}}" name="foxname"><br><br> <!-- This value isn't working to display the original color. -->
            
            <label for="foxcolor"><b>Fox Color</b></label>
            <select value="{{current_fox.foxcolor}}" name="foxcolor">
                <option value="Red">Red</option>
                <option value="Orange">Orange</option>
                <option value="Yellow">Yellow</option>
                <option value="Green">Green</option>
                <option value="Blue">Blue</option>
                <option value="Purple">Purple</option>
                <option value="White">White</option>
                <option value="Black">Black</option>
                <option value="Silver">Silver</option>
                </select><br><br>

            <label for="foxdescription"><b>Fox Description</b></label>
            <input type="text" value="{{current_fox.foxdescription}}" name="foxdescription"><br><br>

            <label for="foxbirthdate"><b>Fox Birthdate</b></label>
            <input type="date" value="{{current_fox.foxbirthdate}}" name="foxbirthdate"><br><br> <!-- This value isn't working to display the original fox birthdate -->
        
            <button type="submit" value="update">Edit Your Fox</button>
        </form>
</body>
</html>